@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body section  */
body{
    font-family: "Open Sans", serif;
    margin-left: 160px;
    margin-right: 160px;
    background-color: rgb(245, 245, 245);
}

/* nav section  */
.nav{
    display: flex;
    justify-content: space-between;
}
.left-nav{
    margin-top: 30px;
}
.right-nav{
    margin: 30px 0 30px 0;
}
.btn-1{
    padding: 10px 20px;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background-color: inherit;
    cursor: pointer;
}
.btn-1:hover{
    transition-delay: 0s;
    color: black;
    background-color: yellow;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow;
    border-radius: 8px;
}

/* banner section  */
.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    padding: 80px 85px;
    border-radius: 20px;
}
.left-banner{
    width: 622px;
    margin-top: 50px;
}
.paragraoh-banner{
    color: rgba(14, 14, 14, 0.5);
}
.headin-1{
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 56px;
}
.btn-2{
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    cursor: pointer;
}
.btn-2:hover{
    transition-delay: 0s;
    color: black;
    background-color: rgb(0, 196, 85);
    box-shadow: 0 0 10px rgb(153, 250, 218), 0 0 20px rgb(145, 255, 218), 0 0 40px rgb(137, 243, 208);
    border-radius: 8px;
}

/* pillars section  */
.left-pillar{
    margin: 80px 0 32px 0;
}
.group-1{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 302px;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.card:hover{
    background-color: aquamarine;
}
.card>img{
    margin-bottom: 24px;
}
.card>h4{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
}
.card>p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* Future section  */
.group-2{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card-2{
    margin-top: 32px;
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.card-2:hover{
    background-color: hotpink;
}
.card-3{
    margin-top: 32px;
    padding: 32px;
    background-color: rgb(198, 228, 214);
    border-radius: 16px;
}
.card-3:hover{
    background-color: greenyellow;
}
.card-4{
    margin-top: 32px;
    padding: 32px;
    background-color: rgb(247, 235, 207);
    border-radius: 16px;
}
.card-4:hover{
    background-color: aqua;
}
.p-b{
    color: rgba(14, 14, 14, 0.7);
}
.card-2>img{
    margin-bottom: 24px;
}
.card-2>h4{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
}
.card-2>p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.btn-3{
    margin-top: 24px;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(84, 144, 245);
    cursor: pointer;
}
.btn-3:hover{
    transition-delay: 0s;
    color: black;
    background-color: mediumslateblue;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow;
    border-radius: 8px;
}
.btn-4{
    margin-top: 24px;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(9, 161, 92);
    cursor: pointer;
}
.btn-4:hover{
    transition-delay: 0s;
    color: black;
    background-color: hotpink;
    box-shadow: 0 0 10px rgb(255, 144, 144), 0 0 20px rgb(255, 144, 144), 0 0 40px rgb(255, 144, 144);
    border-radius: 8px;
}
.btn-5{
    margin-top: 24px;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 194, 57);
    cursor: pointer;
}
.btn-5:hover{
    transition-delay: 0s;
    color: black;
    background-color: darkorange;
    box-shadow: 0 0 10px rgb(253, 175, 253), 0 0 20px rgb(253, 175, 253), 0 0 40px rgb(253, 175, 253);
    border-radius: 8px;
}

/* D.Yunus section */
.younus{
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 48px 24px;
    border-radius: 16px;
    margin-top: 32px;
}
.img-quote{
    position: absolute;
    margin-top: -23px;
}
.younus>p{
    color: rgba(14, 14, 14, 0.8);
}
.younus>h3{
    color: rgba(14, 14, 14, 0.8);
    margin: 12px 0 4px 0;
}

/* Opinion section */
.opinion{
    margin-top: 80px; 
}
.form{
    background-color: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 16px;
    margin-top: 24px;
}
.head-1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 228, 214);
    padding: 24px;
    font-weight: bold;
}
.tr{
    display: flex;
    justify-content: space-between;
}
.td-1{
    padding: 24px 671px 24px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-weight: 600;
}
.td-2{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    
}
.td-2>select{
    padding: 10px 14px;
    background-color: rgb(198, 228, 214);
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    font-weight: 600;
}

/* Recent News section */
.h1-recent{
    margin: 80px 0 24px 0;
}
.paragraph-bd{
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.group-1{
    background-color: rgb(255, 255, 255);
    padding: 48px;
    border-radius: 24px;
    margin-top: 32px;
}
.group-1>img{
    border-radius: 24px;
}
.right-bd>h1{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 32px;
}
.right-bd>img{
    margin-bottom: 12px;
}
.d-t{
    margin-bottom: 12px;
}
.right-bd>p>span{
    margin-right: 12px;
}
.not{
    margin-bottom: 32px;
}

/* Donate section */
.Donat-h{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 100px 0 100px;
    margin-top: 80px;
}
.Donat-h>p{
    margin: 24px 0 32px 0;
    color: rgba(14, 14, 14, 0.7);
}
.taka-all{
    display: flex;
    gap: 24px;
}
.taka-1{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    font-weight: 700;
    font-size: 40px;
}
.taka-1:hover{
    background-color: rgba(117, 117, 255, 0.315);
}
.taka-2{
    background-color: rgb(198, 228, 214);
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    font-weight: 700;
    font-size: 40px;
}
.taka-2:hover{
    background-color: rgba(255, 180, 218, 0.336);
}
.taka-3:hover{
    background-color: rgba(0, 255, 255, 0.308);
}
.taka-4:hover{
    background-color: rgba(247, 250, 67, 0.308);
}
.Donat-h>input{
    padding: 20px 40px;
    margin: 32px 0 32px 0;
    width: 1032px;
    text-align: center;
    border: none;
    color: rgba(14, 14, 14, 0);
    border-radius: 5px;
}
.Donat-h>input:hover{
    background-color: azure;
}

/* Subscribe section */
.Subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    padding: 80px 100px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
}
.Subscribe>p{
    margin: 16px 0 24px 0;
    color: rgba(14, 14, 14, 0.7);
}
.input{
    width: 600px;
    padding: 18px;
    border: none;
    border-radius: 8px 0 0 8px;
}
.input:hover{
    background-color: azure;
}
.Subscribe>span{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
    
}
.btn-6{
    padding: 18px 34px;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: rgb(0, 106, 80);
    cursor: pointer;
    margin-left: -5px;
}
.btn-6:hover{
    transition-delay: 0s;
    color: black;
    background-color: rgb(0, 196, 85);
    box-shadow: 0 0 10px rgb(153, 250, 218), 0 0 20px rgb(145, 255, 218), 0 0 40px rgb(137, 243, 208);
}