@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body section  */
body{
    font-family: "Open Sans", serif;
    margin-left: 160px;
    margin-right: 160px;
    background-color: rgb(245, 245, 245);
}

/* nav section  */
.nav{
    display: flex;
    justify-content: space-between;
}
.left-nav{
    margin-top: 30px;
}
.right-nav{
    margin: 30px 0 30px 0;
}
.btn-1{
    padding: 10px 20px;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background-color: inherit;
}

/* banner section  */
.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    padding: 80px 85px;
    border-radius: 20px;
}
.left-banner{
    width: 622px;
    margin-top: 50px;
}
.paragraoh-banner{
    color: rgba(14, 14, 14, 0.5);
}
.headin-1{
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 56px;
}
.btn-2{
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
}

/* pillars section  */
.left-pillar{
    margin: 80px 0 32px 0;
}
.group-1{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 302px;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 16px;
}
.card>img{
    margin-bottom: 24px;
}
.card>h4{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
}
.card>p{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}